<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lounge Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            scroll-behavior: smooth;
        }

        #main {
            text-align: center;
            padding: 10px;
        }

        h1 {
            font-size: 28px;
            /* color: #333; */
            margin-bottom: 10px;
         /* color: #068932; */
        
        }

        .lounge-box{
            display: flex;
            flex-wrap: wrap;
            
            
        }
        /* Lounge Card Styling */
        .lounge-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            height: 300px;
            padding: 10px;
            background-color: #ffffff;
            border: 2px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
            max-width: 380px;
        }
      
       

        h1 {
            font-size: 48px;
            color: #333;
            margin-bottom: 20px;
        }

        /* Lounge Card Styling */
     

        .lounge-card:hover {
            transform: translateY(-5px);
        }

        .lounge-card h1 {
            font-size: 20px;
            color: #333;
            
            margin: 10px 0;
        }
        input {
            margin-top: 10px;
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            /* border-radius: 5px; */
            font-size: 14px;
        }

        .owner_name{
            display: flex;
            gap: 5px;
        }
        .owner_name a{
            text-decoration: none;
        }
        
        .small_btn{
	       margin-top: 20px;
        }

        .check_seat{
            padding: 2px 7px;
            font-size: 10px;
        }

     

        .lounge-card:hover {
            transform: translateY(-5px);
        }

        .lounge-card h1 {
            text-decoration: none;
            font-size: 20px;
            color: #333;
            margin: 10px 0;
        }
        .lounge-card h1 a{
            text-decoration: none;
            color: black;
            font-size: 25px;
        }
  
        /* Add New Lounge Form Styling */
        #add-lounge-form {
            display: none;
        }
        .username{
            color: #068932;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <header class="header">
        <img src="/images/shyama.-removebg-preview.png" alt="image" class="logo">
        <!-- <nav class="navbar"> -->
          <ul class="main-nav">
            <li><a href="/lounge/loungeProviderLogin"><i class="ri-arrow-left-fill"></i></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="#footer-container" >Contact</a></li>
          </ul>
    
          <ul class="burgger">
            <li><a href="/">Home</a></li>
            <li><a href="#footer-container" >Contact</a></li>
          </ul>
          <i id="menu-toggle" class="ri-menu-fold-line"></i>
    
    </header>
    <div id="main">

        <h1>Welcome,<span class="username"><%= LoungeUser.name %></span> </h1>

        <button><a href="/lounge/loungeRegistration">Add New Lounge</a></button>

        <!-- <h2>Your Registered Lounges</h2> -->
    <div class="lounge-box .container " >
        <% for (var i = 0; i < his_launges.length; i++) { %>
        <div class="lounge-card .card-img-bottom  bg-gradient h-25 w-100">

            <div class="owner_name">
                <h1><%= his_launges[i].loungeName %></h1>
                <a class="check_seat" href="/lounge/laungeadminforaddingitems/<%= his_launges[i]._id %>">Check Seats ☑️</a>
            </div>

            <p>Owner: <%= LoungeUser.name %></p>
            <p>No. of Seats: <%= his_launges[i].noOfSeats %></p>
            
            <form id="gg" action="/lounge/edit_lounge" method="POST">

                <input type="text" name="loungeId_for_delete" value="<%= his_launges[i]._id %>"  style="visibility: hidden; display: none; ">

                <input type="text" name="loungeName" 
                placeholder="lounge name" value="<%= his_launges[i].loungeName %>" >

                <input type="text" name="loungePhoneNo" 
               placeholder="lounge phone number" value="<%= his_launges[i].loungePhoneNo%>" >

                <input type="text" name="loungeEmail" placeholder="lounge email" value="<%= his_launges[i].loungeEmail %>" >

                <input type="text" name="noOfSeats" placeholder="no of seats" value="<%= his_launges[i].noOfSeats%>" >

                <button class="small_btn" type="submit">Edit Lounge Infom</button>
            </form>

            <form action="/lounge/delete_lounge" method="POST">
                <input type="text" name="loungeId_for_delete" value="<%= his_launges[i]._id %>" style="visibility: hidden; display: none; ">
                <button class="small_btn" type="submit">Delete Lounge</button>
            </form>
        </div>
        <% } %>
    </div>
        
    </div>
   <%- include('footer/footer.ejs') -%>
    
    <script src="\javascripts\nav.js"></script>
</body>
</html>